<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Dato d2 = new Dato("Life"); -->
	<bean id="d2" class="es.indra.formacion.pr.spring.bean.Dato">
		<constructor-arg name="contenido" value="Life" />
	</bean>

	<bean id="holaMundo1" class="es.indra.formacion.pr.spring.bean.HolaMundo" lazy-init="true">
		<property name="dato" ref="d1"/>
		<!-- constructor-arg name="dato" ref="d"/-->
	</bean>
	
	<bean id="holaMundo2" class="es.indra.formacion.pr.spring.bean.HelloWorld">
		<property name="dato" ref="d2"/>
	</bean>

	<bean id="holaMundo3" 
		class="es.indra.formacion.pr.spring.bean.HolaMundo" 
		scope="prototype">
		
		<property name="dato"><!-- Bean anónimo -->
			<bean class="es.indra.formacion.pr.spring.bean.Dato">
				<constructor-arg name="contenido" value="Uno" />
			</bean>
		</property>
	</bean>

	<!-- Dato d = new Dato("Mundo"); -->
	<bean id="d1" class="es.indra.formacion.pr.spring.bean.Dato">
		<constructor-arg name="contenido" value="Mundo" />
	</bean>

	<bean id="holaMundo4" 
		class="es.indra.formacion.pr.spring.bean.HolaMundo" 
		scope="prototype">
		
		<property name="dato" ref="d1"/>
	</bean>

	<!-- Dato d = new Dato("Mundo"); -->
	<bean 
			id="d3" 
			class="es.indra.formacion.pr.spring.bean.Dato" 
			scope="prototype">
		<constructor-arg name="contenido" value="Mundo" />
	</bean>

	<bean id="holaMundo5" 
		class="es.indra.formacion.pr.spring.bean.HolaMundo" 
		scope="prototype">
		
		<property name="dato" ref="d3"/>
	</bean>


</beans>